<div id="autobgm_settings">
  <div class="inline-drawer">
    <div class="inline-drawer-toggle inline-drawer-header">
      <b>MyaoPlay</b>
      <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
    </div>

    <div class="inline-drawer-content">
      <div class="abgm-extmenu-row">
        <div id="autobgm_enabled_btn" class="menu_button abgm-extmenu-tile" title="Enabled">
          <img id="autobgm_enabled_img" class="abgm-extbtn-icon" alt="Enabled" />
          <span id="autobgm_enabled_state" class="abgm-sr">Off</span>
        </div>

        <div id="autobgm_floating_toggle" class="menu_button abgm-extmenu-tile" title="Floating Button">
          <img id="autobgm_floating_img" class="abgm-extbtn-icon" alt="Floating Button" />
          <span id="autobgm_floating_state" class="abgm-sr">Off</span>
        </div>
      </div>
    </div>
  </div>
</div>
